---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar.astro";
---
<script>
window.onload = (e) => {
  console.log("hello, this is loaded");
}
</script>

<Layout title="About Me">
  <Navbar></Navbar>
  <div class="flex justify-center">
  <h1 class="text-[#DED3A6] text-6xl">whoami</h1>
  </div>
    <div class="flex justify-center space-x-9 py-20">
      <div class="w-96">
        <p class="text-[#F2F2EF] text-xl">
          Hi, my name is Sithu Maung Maung Cho, a 20 years old a developer from Burma.
          <br>
          <br>
          exercitation amet. Nisi anim cupidatat excepteur officia.
          Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate
          officia. Sit irure elit esse ea nulla sunt ex
          voluptate dolor minim nulla est proident. Nostrud officia pariatur ut
        </p>
      </div>

      <img
        src="/window.jpeg"
        alt="Me looking outside..."
        class="w-72 h-1/3 rounded-2xl flex-shrink-0"
      />
    </div>
</Layout>
