---
import Navbar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Albums">
  <Navbar />
  <main>
    <p class="genericText">
      Album Coming Soon...
    </p>
  </main>
</Layout>
