---
import Navbar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import '../styles/gloabal.css'
---

<Layout title="Albums">
  <Navbar />
  <main>
    Album
  </main>
  </Layout>
