---
import Navbar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sithu Maung Maung Cho">
  <Navbar />
  <main>
    <p class="genericText text-3xl">
      Hi, I am <span
        class="text-5xl text-red-500 transition hover:-translate-y-1 inline-block"
        >Sithu</span
      >.
    </p>
    <div class="p-4">
      <p class="genericText text-2xl">I do programming...</p>
    </div>
  </main>
</Layout>
