---
import Button from "../components/Button.astro";
import Navbar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sithu Maung Maung Cho">
<Navbar />
  <main>
    <p class="text-[#F2F2EF] text-3xl">Hi, I am <span class="text-5xl text-red-500 transition hover:-translate-y-1 inline-block" >Sithu</span>. </p>

    <div class="p-4">
    <p class="text-[#DED3A6] text-2xl">
    I am a developer who is passionate about programming and linux;
    </p>
    <p class="text-[#DED3A6] text-2xl">
    I primarily works with typescript and c++;
    </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 120ch;
  }
</style>
