---
import Navbar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import '../styles/gloabal.css'
---

<Layout title="Projects">
  <Navbar />
  <main>
    Projects
  </main>
</Layout>
