---
import Navbar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <Navbar />
  <main>

    <div class="bg-[#212111] p-6 rounded-xl min-w-80 max-w-96 transition-all eas-in-out hover:scale-105 hover:bg-[#374709]">
      <a href="https://github.com/mustardfrog"> 
        <p class="text-rose-600 text-xl"> Github</p>
      </a>
    </div>

    <br>
    <div class="bg-[#212111] p-6 rounded-xl min-w-80 max-w-96 transition-all eas-in-out hover:scale-105 hover:bg-[#374709]">
      <a href="https://github.com/mustardfrog/bubblons"> 
        <h3 class="text-rose-700 text-2xl">bubblons</h3>
        <p class="text-gray-400">- Guess the flag game but inside the terminal </p>
      </a>
    </div>

    <br>
    <div class="bg-[#212111] p-6 rounded-xl min-w-80 max-w-96 transition-all eas-in-out hover:scale-105 hover:bg-[#374709]">
      <a href="https://github.com/mustardfrog/bible-tui"> 
        <h3 class="text-rose-700 text-2xl">bible-tui  </h3>
        <p class="text-gray-600">(work in progress..)</p>
        <p class="text-gray-400">- Read the Bible just in command line </p>
        <p class="text-gray-400">- Built with Go, Bubbletea</p>
      </a>
    </div>


    <br>
    <div class="bg-[#212111] p-6 rounded-xl min-w-80 max-w-96 transition-all eas-in-out hover:scale-105 hover:bg-[#374709]">
      <a href="https://github.com/mustardfrog/bubblons"> 
        <h3 class="text-rose-700 text-2xl">Access Innovatios Website</h3>
        <p class="text-gray-400">- Give them a call if you are in dallas</p>
      </a>
    </div>

  </main>
</Layout>
