---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<div class="link-card border-black outline-black background-black">
	<a href={href}>
		<h2>
			{title}
			<!-- <span>&rarr;</span> -->
		</h2>
	</a>
</div>
