---

---

<div class="flex justify-end">
<div class="flex py-8 px-2 ">
    <a href="/" class="text-[#DED3A6] px-6 text-2xl transition-all ease-in-out hover:scale-105 hover:text-[#759242] cursor-pointer">~/mustardfrog</a>
    <a href="/about" class="text-[#DED3A6] px-6 text-2xl transition-all ease-in-out hover:scale-105 hover:text-[#759242] cursor-pointer">about_me</a>
    <a href="/blogs" class="text-[#DED3A6] px-6 text-2xl transition-all ease-in-out hover:scale-105 hover:text-[#759242] cursor-pointer">blogs</a>
</div>
</div>

<style>
</style>
