---

---

<div class="flex justify-end">
<div class="flex py-8 px-2 ">
    <h1 class="text-[#DED3A6] px-6 text-2xl transition-all ease-in-out hover:scale-105 hover:text-[#759242] cursor-pointer">~/mustardfrog</h1>
    <h1 class="text-[#DED3A6] px-6 text-2xl transition-all ease-in-out hover:scale-105 hover:text-[#759242] cursor-pointer">about_me</h1>
    <h1 class="text-[#DED3A6] px-6 text-2xl transition-all ease-in-out hover:scale-105 hover:text-[#759242] cursor-pointer">blogs</h1>
</div>
</div>

<style>
</style>
