---
import Navbar from "../../components/NavBar.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import '../../styles/gloabal.css'
---

<BlogLayout title="Blogs">
<Navbar />
  <main>
    Blog
  </main>
</BlogLayout>
