---
import Navbar from "../../components/NavBar.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Blogs">
<Navbar />
  <main>
    Blog
    <Card title="post 1" href="/post-1" />
    <Card title="post 2" href="/post-2" />
  </main>
</Layout>
