---
import Navbar from "../../components/NavBar.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Blogs">
<Navbar />
  <main>
    <p class="genericText">
      Blog Coming Soon..
    </p>
    <!-- <Card title="How to upload image in trpc and react (t3 stack)" href="/post-1" /> -->
  </main>
</Layout>
